doctype
html
	head
		link(rel='stylesheet' href='main.sass')
	body
		header
			nav
		main
			aside
				h1 Brnt-Toast 
				h2 UI | Front End Devloper
				h3 afjlajsdoi

		footer
			p yellow 
			p pink
			p purple
		script(type='module' src='./index.js')
